# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# NetBeans files
nbproject/

# Eclipse files
.classpath
.project

# Build directory
build/

# Build XML file
build.xml

# Generated sources
generated-sources/

# IDE-specific configuration files
private/

# Ignore the specific configuration file
nb-configuration.xml

# Ignore library files
lib/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
