html, body {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom right, rgb(75, 26, 155), rgb(111, 5, 5));
  background-attachment: fixed;
  overflow-y: auto;
}

#root {
  display: flex;
  flex-direction: column;
}

.input-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
} 